.main {
  width: 200px;              /* force Cypress to see 200px */
  background-color: purple;
  border-left: 5px solid green;
  padding: 10px;
}

#heading.heading {
  font-size: 20px;           /* override default h1 size */
  color: white;
  text-decoration: underline;                         /* reset default margin */
}
