.main {
  width: 200px !important;              /* force Cypress to see 200px */
  background-color: purple !important;
  border-left: 5px solid green !important;
  padding: 10px !important;
}

#heading.heading {
  font-size: 20px !important;           /* override default h1 size */
  color: white !important;
  text-decoration: underline;
  margin: 0;                            /* reset default margin */
}
